
<div>
  <div class="doctor-info">
    <div *ngIf="!submitted">
      <div >

      </div>

      <div class="form-group">
        <label for="name">nom</label>
        <input
          id="name"
          required
          [(ngModel)]="medecin.name"
          name="name"
        />
      </div>
      <div >
        <label for="speciality">specialité</label>
        <input

          id="speciality"
          required
          [(ngModel)]="medecin.specialty"
          name="speciality"
        />
      </div>
      <div >
        <label for="adress">adresse</label>
        <input

          id="adress"
          required
          [(ngModel)]="medecin.address"
          name="adress"
        />
      </div>
      <div >
        <label for="contact">contact</label>
        <input

          id="contact"
          required
          [(ngModel)]="medecin.contact"
          name="contact"
        />
      </div>

      <button (click)="updateMedecin()" class="signn">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Medecin modifié!</h4>
    </div>
  </div>
</div>
