



.signn{
  float:right;
  background-color: #5996c2;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;

}
.signn:hover {
background-color: #98D7C2;
color: white;
}


  .doctor-info {
    display: flex;
    margin: 20px;
    box-shadow: 0 4px 8px 0 #21B6A8;
    margin-top:10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 10px;


  }




  .modif {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

.bar{
    border-radius: 10px;
}


  .container {
    flex-basis: 50%;
    padding: 10px;

}




label {
  display: inline-block;
  margin-right: 10px;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.doctor-info input{
    border-color: #21B6A8;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
.container button{
  background-color: #5996c2;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color:  #edf0f3;

  }
