<div>
  <div class="doctor-info">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">id</label>
        <input
          type="text"

          id="id"
          required
          [(ngModel)]="medecin.id"
          name="id"
        />
      </div>

      <div class="form-group">
        <label for="name">nom</label>
        <input

          id="name"
          required
          [(ngModel)]="medecin.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="speciality">specialité</label>
        <input

          id="speciality"
          required
          [(ngModel)]="medecin.specialty"
          name="speciality"
        />
      </div>
      <div class="form-group">
        <label for="adress">adresse</label>
        <input

          id="adress"
          required
          [(ngModel)]="medecin.address"
          name="adress"
        />
      </div>
      <div class="form-group">
        <label for="contact">contact</label>
        <input

          id="contact"
          required
          [(ngModel)]="medecin.contact"
          name="contact"
        />
      </div>

      <button (click)="saveMed()" class="signn">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Medecin ajouté!</h4>
      <button class="signn" (click)="newmed()">Ajouter un nouveau medecin</button>
    </div>
  </div>
</div>
