<div class="container" >
  <h2 style="text-align:center">Notre equipe</h2>
  <div class="roww" >
    <div class="columnn">
      <div class="carde">
        <img class="image"src="https://drive.google.com/uc?export=view&id=1eUfvHszhgzRn7amcbu_q4U81a51CKzvn" alt="Nour" style="width:100%">
        <div class="containerr">
          <h2>Nour Benyounes</h2>
          <p class="title">CEO and co-founder </p>
          <p>Some text that describes us.</p>
          <p>sawssanour@site.com</p>
        </div>
      </div>
    </div>

    <div class="columnn">
      <div class="carde">
        <img class="image"src="https://drive.google.com/uc?export=view&id=1rWhTSEMnTIRgISVMu7cV_MtIdP4IcscW" alt="Sawssan" style="width:100%">
        <div class="containerr">
          <h2>Sawssan Cherif</h2>
          <p class="title">CEO and co-founder</p>
          <p>Some text that describes us.</p>
          <p>sawssanour@site.com</p>
        </div>
      </div>
    </div>

  </div>
</div>
