.submit-btn {
  background-color: #fff;
  color: #DF527C;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #e5e0ed;
}



.container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.title {
  padding-top: 5%;
  font-size: 24px;
  font-weight: bold;
  color: #DF527C;
  text-align: left;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #DF527C;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.question-input {
  border: none;
  outline: none;
  flex-grow: 1;
  background-color: transparent;
  font-size: 16px;
  padding-left: 10px;
}
input::placeholder {
  color: #fff; /* Choose your color */
  opacity: 1; /* Optional, to ensure the color is not faded */
}
.close-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.section {
  margin-top: 30px;
}

h2 {
  font-size: 20px;
  color: #5c2d91;
}

.question-block {
  margin-top: 10px;
}

.question {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  margin-right: 10px;
}

.question-text {
  font-size: 16px;
  color: #5c2d91;
  font-weight: bold;
}

.answer {
  margin-left: 30px;
  font-size: 14px;
  color: #5c2d91;
}

.popular-questions {
  margin-top: 20px;
  padding-left: 20px;
}

.popular-questions li {
  font-size: 16px;
  color: #e0436b;
  margin-top: 10px;
  cursor: pointer;
}
