.topnav{
  position: absolute;
  position:fixed;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #21B6A8;
  overflow: hidden
}
.an {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.an:hover {
  background-color: #98D7C2;
  color: black;
}
.topnav img {
  float: left;
  color: #f2f2f2;
  width: 30px;
  height: 30px;
  margin-left:2px;
  margin-bottom:2px;
}
.search{

  float:right;
  border: none;
  display: inline-block;
  transition-duration: 0.4s;
  padding: 2px 2px;
  border-radius: 50%;
  margin-top: 3px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;


}
.bar{    border-radius: 10px;
    border-color: #5996c2;

}
.search:hover {
  background-color: #98D7C2;
  color: white;
}
.signn{
  float:right;
  background-color: #5996c2;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;

}
body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color:  #edf0f3;


}
.signn:hover {
background-color: #98D7C2;
color: white;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.topnav input[type=text] {
  border: 1px solid #ccc;
}
