<div class="topnav">
  <a class="an" routerLink="/home" ><img src="assets\Logo_Marketing_Agency_Digital.copy-removebg-preview.png" alt="Home" ></a>
  <a class="an" routerLink="/home">Accueil </a>
  <a class="an" routerLink="/test">Tests et résultats </a>

  <a class="an" routerLink="/fav">🤍</a>
  <a class="an" routerLink="/news">VR </a>
  <a class="an" routerLink="/cours">Cours</a>

  <a class="an" routerLink="/about">Réseau</a>

 <img src="assets\fille.png" alt="Home" >
 <img src="assets\actif.png" alt="Home" >


</div>
