<div class="test-container">
  <h3>Réaliser un test</h3>
  <div class="custom-dropdown">
    <button class="dropdown-btn">Type de test</button>
    <div class="dropdown-content">
        <a >Test d’intérêts professionnels</a>
        <a >Test de personnalité</a>
        <a >Test de compétences</a>
    </div>
</div>


  <h2 class="result-title">Résultats</h2>

  <div class="result-container">
      <img src="assets/analyste-daffaires.png" alt="Analyste Icon" class="result-image">
      <p class="result-text"><strong>Vous avez une personnalité de type Analyste</strong></p>
  </div>
  <h2 class="result-title">Recommandations de carrière : Ingénierie</h2>
  <p class="result-text">
    Vos intérêts en sciences et vos compétences en résolution de problèmes suggèrent une carrière dans l'ingénierie.
  </p>
  <div class="result-container">


    <ol>
      <li>
        <strong>Ingénieur en génie civil</strong>
        <p>Description : Les ingénieurs en génie civil conçoivent, planifient et supervisent la construction d'infrastructures telles que des routes, des ponts, des bâtiments, et des systèmes d'approvisionnement en eau.</p>
        <p>Compétences requises :</p>
        <ul>
          <li>Mathématiques appliquées et analyse structurale</li>
          <li>Gestion de projets</li>
          <li>Capacité à lire et interpréter des plans techniques</li>
        </ul>
        <p>Études recommandées : Diplôme d’ingénieur en génie civil, master spécialisé, stages en entreprise de BTP.</p>
        <p>Tendances du marché : Forte demande dans l’urbanisation et les infrastructures durables.</p>
      </li>
    </ol>

</div>
</div>
