<div class="header">
  <h2>News</h2>
</div>

<section class="carousel">
  <ul class="carousel-items">
      <li class="carousel-item">
          <div class="card">
              <h2 class="card-title">Nouveau médecin</h2>
              <img class="carousel-image" src="https://drive.google.com/uc?export=view&id=1Z46LM2ysYj6Lvrf9LseNeIF-_pA_YjbE" />
              <div class="card-content">
                  <p class="card-text">Nous sommes ravis d'annoncer l'arrivée d'un nouveau médecin dans notre cabinet médical. </p>
                  <p class="card-text">Le Dr. Smith est un spécialiste en cardiologie avec plus de 10 ans d'expérience dans la pratique.</p>
                  <p class="card-text">Nous sommes impatients de voir les bénéfices qu'il apportera à nos patients grâce à son expertise et à son dévouement.</p>
              </div>
          </div>
      </li>
      <li class="carousel-item">
          <div class="card">
              <h2 class="card-title">vaccination</h2>
              <img class="carousel-image" src="https://drive.google.com/uc?export=view&id=1H_XxVUfIUC2f_G8UNczqhd2KNKEDauEN" /><br>
              <div class="card-content">
                  <p class="card-text">Nous sommes fiers de notre programme de vaccination contre la grippe saisonnière.</p>
                  <p class="card-text">Chaque année, nous offrons à nos patients la possibilité de se faire vacciner contre la grippe dans notre cabinet médical.</p>
                  <p class="card-text">Nous nous engageons à assurer la santé et le bien-être de nos patients, et c'est pourquoi nous encourageons fortement tous nos patients à se faire vacciner chaque année.</p>
              </div>
          </div>
      </li>

      <li class="carousel-item">
          <div class="card">
              <h2 class="card-title">Rendez vous en ligne</h2>
              <img class="carousel-image" src="https://drive.google.com/uc?export=view&id=1EImtUd8-G9Iw_VqY_vq41HNiG5WpN9QP" />
              <div class="card-content">
                  <p class="card-text">La pandémie de COVID-19 a mis en évidence l'importance de la télémédecine pour les soins de santé. </p>
                  <p class="card-text">Nous sommes fiers d'offrir à nos patients la possibilité de consulter en ligne avec nos médecins qualifiés.</p><p class="card-text"> Les rendez-vous en ligne sont simples et faciles à utiliser, et permettent aux patients de recevoir des soins de qualité dans le confort de leur propre maison.</p>
              </div>
          </div>
      </li>


  </ul>
</section>
