
<div class="content">
  <table>
      <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Spécialité</th>
          <th>Adresse</th>
          <th>Contact</th>
          <th>Modifier</th>
          <th>SUPPRIMER</th>
        </tr>
      </thead>
      <br>
      <tbody>
        <tr *ngFor="let medecin of medecins">
          <td><img src="https://drive.google.com/uc?export=view&id=1Whr7PxOBNf8tpoVVPvYSeJ57I7qaVQVO" alt="Photo de tbib1"></td>

          <td>{{ medecin.name }}</td>
          <td>{{ medecin.specialty }}</td>
          <td>  {{ medecin.address }}   </td>
          <td>   {{ medecin.contact }}  </td>
          <td><a [routerLink]="['/modif', medecin._id]"><button class="rdv">Modifier</button></a></td>
          <td><button class="rdv" (click)="deleteMedecin(medecin._id)">SUPPRIMER</button></td>

        </tr>
      </tbody>
      </table>
      </div>
