.header {
  position:fixed;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  margin-top:45px;
  width: 100%;
  border-radius: 10px;

}
.content {
  padding: 16px;

}
.dark-mode {
  background-color: black;
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
  .sticky + .content {
  padding-top: 102px;
}
.topnav{
  position: absolute;
  position:fixed;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #21B6A8;
  overflow: hidden
}
.an {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.an:hover {
  background-color: #98D7C2;
  color: black;
}
.signn{
  float:right;
  background-color: #5996c2;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;

}
.signn:hover {
background-color: #98D7C2;
color: white;
}
.topnav img {
  float: left;
  color: #f2f2f2;
  width: 30px;
  height: 30px;
  margin-left:2px;
  margin-bottom:2px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.topnav input[type=text] {
  border: 1px solid #ccc;
}
.content img{

  display: block;
  width: 100px;
  height:90px;
  margin-right: 10px;
  border-radius: 50%;
}

.rdv{
  float:right;
  background-color: #4f4caf;
  border: none;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;

}
.rdv:hover {
background-color: #98D7C2;
color: white;
}
.content table{
  margin-top: 120px;
  margin-bottom: 100px;
}
table {
  border-collapse: separate;
  border-spacing: 10px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c8d4d3;
  height: 50px;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

footer.visible {
  visibility: visible;
  opacity: 1;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color:  #edf0f3;

}
.bar{    border-radius: 10px;
}
