<div class="images" >
  <h1>Merci pour votre confiance!! </h1>
    <div class="image-container">
      <img class="image" src="https://drive.google.com/uc?export=view&id=1l2lCIz_WSJ_ztYsS2wv_Z_a61HU6le8g" alt="why us1">
      <p class="description">Consultation en ligne.</p>
    </div>

    <div class="image-container">
      <img class="image" src="https://drive.google.com/uc?export=view&id=1C3v_kwyNWxvOR3yy37SQEGi--VqUhl3S" alt="why us 2">
      <p class="description">Consultation en personne.</p>
    </div>

    <div class="image-container">
      <img  class="image" src="https://drive.google.com/uc?export=view&id=1lnq8fvSRLga0AOxibOUGkZdAysKQ1SzD" alt="why us 3">
      <p class="description">Paiement facil.</p>
    </div>
    <div class="image-container">
      <img class="image" src="https://drive.google.com/uc?export=view&id=1iJtwqB06jBOEZe5zoEWvIAQCrIV8fL5y" alt="why us 4">
      <p class="description">Prise des rendez-vous en ligne.</p>
    </div>
</div>

