<div class="images" >


    <div class="image-container">
      <a class="an" routerLink="/test"><img class="image"style="background-color: #FCB75E" src="assets/1-removebg-preview.png">
      </a>
    </div>

    <div class="image-container">
      <a class="an"  routerLink="/fav"><img class="image" style="background-color: #3370F5" src="assets/5-removebg-preview.png">
</a>
    </div>
    <div class="image-container">
      <a class="an"  routerLink="/news"><img class="image"style="background-color: #FF7581" src="assets/2-removebg-preview.png">
      </a></div>
    <div class="image-container">
      <a class="an"  routerLink="/cours"><img class="image"style="background-color: #592ACD" src="assets/3-removebg-preview.png">
      </a></div>
    <div class="image-container">
      <a class="an"  routerLink="/about"><img class="image"style="background-color: #DF527C" src="assets/4-removebg-preview.png"></a>
    </div>

</div>

